<div class="viewContentWrapper" layout="column" layout-align="start center">

    <div layout="row" style="width: 100%;">
        <div flex-gt-md=30 flex-md=20 flex-sm=5 flex-xs=5></div>

        <div flex-gt-md=40 flex-md=60 flex-sm=90 flex-xs=90 layout="column">

            <div class="detailsSectionHeader">Received Invitations</div>

            <section class="detailsSectionContent">
                <div ng-if="receivedInvitations.length > 0" ng-repeat="invitation in receivedInvitations" class="detailsSectionListItem">
                    <div layout="column">
                        <div layout="row">
                            <span flex=30>Project: </span>
                            <span flex=70 style="margin-bottom: 0.5rem;">{{invitation.projectDescription}}</span>
                        </div>
                        <div layout="row">
                            <span flex=30>Created by: </span>
                            <span flex=70 style="margin-bottom: 0.5rem;">{{invitation.createdBy}}</span>
                        </div>
                        <div layout="row">
                            <span flex=30>Creation date: </span>
                            <span flex=70 style="margin-bottom: 0.5rem;">{{invitation.createdAt | date:'yyyy-MM-dd'}}</span>
                        </div>
                        <md-button type="submit" id="submitBtn" ng-click="onAccept($index)" class="md-raised md-primary detailsSectionButton" style="margin-right: 0px;">Accept</md-button>
                        <md-button type="submit" id="submitBtn" ng-click="onDecline($index)" class="md-raised md-primary detailsSectionButton" style="margin-right: 0px;">Decline</md-button>
                    </div>


                </div>
                <span ng-if="receivedInvitations.length === 0">No invitations received yet</span>
            </section>
        </div>
        <div flex-gt-md=30 flex-md=20 flex-sm=5 flex-xs=5></div>
    </div>
</div>