<div layout="column" class="viewContentWrapper" style="min-height: 100%; height: calc(100%); overflow-y: auto;">
    <div layout="row" style="width: 100%;">
        <div flex-gt-md=30 flex-md=20 flex-sm=5 flex-xs=5></div>

        <div flex-gt-md=40 flex-md=60 flex-sm=90 flex-xs=90 layout="column">
            <div class="detailsSectionHeader">User Details</div>

            <section class="detailsSectionContent">
                <md-input-container>
                    <label>Username</label>
                    <input type="text" ng-model="$root.userProfile.username" disabled>
                </md-input-container>
                <md-input-container>
                    <label>First Name</label>
                    <input type="text" ng-model="$root.userProfile.firstName" disabled>
                </md-input-container>
                <md-input-container>
                    <label>Last Name</label>
                    <input type="text" ng-model="$root.userProfile.lastName" disabled>
                </md-input-container>
            </section>

            <div class="detailsSectionHeader">Current Avatar</div>
            <section class="detailsSectionContent">
                <div layout="row" layout-align="end">
                    <div ng-style="{ 'width': '230px', 'height': '230px', 'background': 'url(' + avatarUrl + ')',
                'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': 'center'}"></div>
                </div>
                <div layout="column" layout-align="end">
                    <md-button type="submit" id="submitBtn" class="md-raised md-primary
                detailsSectionButton" style="margin-left: 0px;">Change Avatar</md-button>
                    <input id="UploadInput" type="file" name="img" ngf-select ng-model="file" accept="image/*" ngf-max-size="5MB" ngf-change=onUpload()
                    style="opacity: 0; height: 36px; z-index: 1; margin-top: -40px;">
                </div>
            </section>


            <div class="detailsSectionHeader">Change Password</div>

            <section class="detailsSectionContent">
                <md-input-container class="inputContainerWithError">
                    <label>Current Password</label>
                    <input type="password" ng-model="changePassword.currentPassword" ng-change="$root.onFormElementChange('userPasswordRequestDto_currentPassword')">
                    <span ng-show="$root.formElementsErrors.userPasswordRequestDto_currentPassword" class="formItemErrorMessage" style="display: initial !important;">{{$root.formElementsErrors.userPasswordRequestDto_currentPassword}}</span>
                </md-input-container>
                <md-input-container class="inputContainerWithError">
                    <label>New Password</label>
                    <input type="password" ng-model="changePassword.newPassword" ng-change="$root.onFormElementChange('userPasswordRequestDto_newPassword')">
                    <span ng-show="$root.formElementsErrors.userPasswordRequestDto_newPassword" class="formItemErrorMessage" style="display: initial !important;">{{$root.formElementsErrors.userPasswordRequestDto_newPassword}}</span>
                    <md-button type="submit" id="submitBtn " ng-click="onChangePassword()" class="md-raised md-primary detailsSectionButton">Save</md-button>
                </md-input-container>
            </section>
        </div>

        <div flex-gt-md=30 flex-md=20 flex-sm=5 flex-xs=5></div>
    </div>
</div>