<md-content style="height: 100%;">
   <md-toolbar layout="row" style="height: 64px;">
      <div layout="row" flex=20 layout-align="start center" style="margin-left: 0rem">
         <div ng-click="toggleLeft()" style="padding: 1rem; cursor: pointer; outline: none">
            <i class="fa fa-bars" style="color: white; cursor: pointer; outline: none"></i>
         </div>

         <!--     		<a  style="cursor: pointer;">Menu</a> -->
      </div>

      <div layout="row" flex=80 layout-align="end center" style="margin-right: 0rem;">

         <div ng-click="changeLanguage()" style="padding: 1rem; cursor: pointer; outline: none;">
            {{currentLanguageCode}}
         </div>


         <!--     		<a ng-click="changeLanguage()" style="cursor:pointer; margin-right: 2rem;">{{currentLanguageCode}}</a> -->

         <div ng-click="logout()" style="padding: 1rem; cursor: pointer; outline: none">
            <i class="fa fa-power-off" style="color: white; cursor: pointer; outline: none"></i>
         </div>

         <!-- 

	    	<a style="cursor:pointer; margin-right: 0.7rem;">{{'logOut' | translate}}</a> -->
      </div>

   </md-toolbar>

   <div style="height: calc(100% - 64px); overflow-y: auto; -webkit-overflow-scrolling: touch; width: 100%;">
      <div ui-view style="clear: both; height: 100%;"></div>
   </div>


   <section layout="row" flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftSideNav">
         <md-toolbar class="md-theme-light" ng-controller="LeftSideNavCtrl" style="min-height: 64px;">
            <div layout="row" layout-align="space-between center" style="margin-top: 0.3rem;">
               <div style="padding: 1rem; cursor: pointer; outline: none">
                  <i class="fa fa-bars" style="color: white; cursor: pointer; outline: none"></i>
               </div>

               <div ng-click="close()" style="padding: 1rem; cursor: pointer; outline: none">
                  <i class="fa fa-times" style="color: white; cursor: pointer; outline: none"></i>
               </div>
            </div>
         </md-toolbar>
         <md-content layout-padding ng-controller="LeftSideNavCtrl">
            <md-button ng-click="onManageProfile()" style="width: 90%;">Manage profile</md-button>
            <md-button ng-click="onListOfProjects()" style="width: 90%;">List of projects</md-button>
            <md-button ng-click="onReceivedInvitations()" style="width: 90%;">Received invitations</md-button>
            <md-button ng-click="onListOfEntries()" style="width: 90%;">List of entries</md-button>                        
            <md-button ng-click="onListOfTasks()" style="width: 90%;">List of tasks</md-button>
         </md-content>
      </md-sidenav>
   </section>
</md-content>