@successMsgBackGroundColor: #75FF75;
	@errorMsgBackGroundColor: #FF704D;  


	.successToast{
	  	background-color: @successMsgBackGroundColor !important;
	  	color: black;
	}

	.errorToast{
		background-color: @errorMsgBackGroundColor !important;
		color: black;
	}

	#vertical-container {
	  height: 100%;
	  width: 100%; }

	.repeated-item-mobile {
	  border-bottom: 1px solid #ddd;
	  box-sizing: border-box;
	  height: 112px;
	  overflow: hidden;
	}

	.repeated-item {
	  border-bottom: 1px solid #ddd;
	  box-sizing: border-box;
	  height: 60px;
	  overflow: hidden;
	}

	.md-button md-ink-ripple:hover{
		background: none;
		background-color: none;
	}

	.md-button md-ink-ripple:focus{
		background: none;
		background-color: none;
	}

	.md-button:not([disabled]):hover {
	    background-color: transparent;
	}


	.sortigCriteriaItem{
		padding: 1rem 0.2rem;
    	// border-bottom: 1px solid gray;
    	outline: none;	
    	cursor: pointer;    
	}

	.selectedSortigCriteriaItem{
		padding: 1rem 0.2rem;
    	// border-bottom: 1px solid gray;	
    	color: white;
    	background-color: rgb(63,81,181);
    	outline: none;
    	cursor: pointer;
	}

	.doneTaskEntry{
		border-left: 5px solid green;
	}

	.inProgressTaskEntry{
		border-left: 5px solid orange;
	}

	.openTaskEntry{
		border-left: 5px solid red;
	}

	.noStatusEntry{
		border-left: 5px solid white;
	}

	.highlightedText{
		background: yellow;
	}

	md-tab-item:not([disabled]).md-active{
		color: rgb(63,81,181) !important;
	}

	md-tabs .md-tab {
	    color: rgba(0,0,0,0.54) !important;
	}	

	md-dialog{
		max-width: 100%;
		max-height: 100%;
	}

	.md-select-value .md-text {
	    display: inline;
	}	

	.highlightedText{
		background: yellow;
	}

	.activeActionIcon{
		color: rgb(63,81,181);
	}

	.actionIcon{
		color: black;
	}