	@successMsgBackGroundColor: #75FF75;
	@errorMsgBackGroundColor: #FF704D;  


	.successToast{
	  	background-color: @successMsgBackGroundColor !important;
	  	color: black;
	}

	.errorToast{
		background-color: @errorMsgBackGroundColor !important;
		color: black;
	}