<div style="height: 64px;" layout-align="end center" layout="row">
   <div ng-click="onAdd($event)" style="padding: 1rem; cursor: pointer; outline: none">
      <i class="fa fa-plus" style="color: black; cursor: pointer; outline: none; font-size: 15pt; margin-top: 5px;"></i>
   </div>
   <div ng-click="onRefresh($event)" style="padding: 1rem; cursor: pointer; outline: none">
      <i class="fa fa-refresh" style="color: black; cursor: pointer; outline: none; font-size: 15pt; margin-top: 5px;"></i>
   </div>   
</div>

<md-content layout="column" style="height: calc(100% - 64px);">
    <div style="width: 100%; border-bottom: 1px solid #ddd;"></div>

    <div ng-show="showBusyIndicator" style="height: calc(100% - 1px);" layout="row" class="busyIndicator"
    layout-align="space-around center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <span ng-if="projects.length === 0" style="padding: 2rem;">No projects assigned yet</span>
    <md-virtual-repeat-container ng-if="projects.length > 0" id="vertical-container" style="border-bottom: 0px solid #ddd;">
        <div md-virtual-repeat="item in projects" class="listItem projectsListItem" flex layout="column" ios-dblclick="onEdit($index)">
            <div layout="column">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 30%; vertical-align: top;">Project:</td>
                        <td style="width: 70%;">
                            <div>{{item.projectDescription !== "" ? item.projectDescription: 'No description available on the current
                        language'}}</div>
                        </td>
                    </tr>
                </table>

                <table style="width: 100%;">
                    <tr>
                        <td style="width: 30%; vertical-align: top;">Roles:</td>
                        <td style="width: 70%;">
                            <div class="tagInDisplayMode" ng-repeat="role in item.roles" style="float: left; margin-top: 0.1rem; margin-bottom: 0.1rem;">{{role.roleName}}</div>
                        </td>
                    </tr>
                </table>

                <table style="width: 100%;">
                    <tr>
                        <td style="width: 30%; vertical-align: top;">Is current:</td>
                        <td style="width: 70%;">
                            <md-switch class="md-primary" md-no-ink ng-model="item._isCurrent" ng-change="onChangeCurrent($index)" ng-disabled="item._isCurrent" style="width: 40px;">
                            </md-switch>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </md-virtual-repeat-container>
</md-content>

