<div style="height: 100%;" layout="column" layout-align="center center">

   <div layout="row" style="width: 100%;">
      <div flex-gt-md=30 flex-md=20 flex-sm=5 flex-xs=5></div>

      <div flex-gt-md=40 flex-md=60 flex-sm=90 flex-xs=90 layout="column">
         <md-input-container>
            <label>Project Description</label>
            <input type="text" id="text" ng-model="project.description" ng-keypress="onKeyPress($event)" ng-change="onFormElementChange('projectRequestDto_description')">
            <span ng-show="$root.formElementsErrors.projectRequestDto_description" class="formItemErrorMessage" style="display: initial !important;">{{$root.formElementsErrors.projectRequestDto_description}}</span>            
         </md-input-container>

         <md-button type="submit" id="submitBtn" ng-click="onCreate()" class="md-raised md-primary">Create</md-button>

      </div>

      <div flex-gt-md=30 flex-md=20 flex-sm=5 flex-xs=5></div>
   </div>

</div>