<div class="actionBar" layout-align="start center" layout="row">
    <div ng-click="onBack()" style="padding: 1rem; cursor: pointer; outline: none">
        <i class="fa fa-arrow-left" style="color: black; cursor: pointer; outline: none; font-size: 15pt;"></i>
    </div>
</div>
<div class="viewContentWrapperWithActionBar" style="min-height: calc(100% - 64px); height: calc(100% - 64px); overflow-y: auto;">
    <div layout="row" style="width: 100%;">
        <div flex-gt-md=30 flex-md=20 flex-sm=5 flex-xs=5></div>

        <div flex-gt-md=40 flex-md=60 flex-sm=90 flex-xs=90>

            <div class="detailsSectionHeader">Project Details</div>

            <section class="detailsSectionContent">
                <md-input-container class="inputContainerWithError">
                    <label>Description</label>
                    <input type="text" ng-model="project.description" ng-change="$root.onFormElementChange('projectRequestDto_description')"
                    ng-disabled="!$root.checkPermissions(projectGuid, ['admin'])">
                    <span ng-style="{'visibility': $root.formElementsErrors.projectRequestDto_description}" class="formItemErrorMessage">{{$root.formElementsErrors.projectRequestDto_description}}</span>
                </md-input-container>
                <div layout="row" layout-align="start center" style="margin-bottom: 10px;">
                    <label style="margin-left: 3px; margin-right: 1rem;">Mark as deleted: </label>
                    <md-switch class="md-primary" md-no-ink ng-model="project.markedAsDeleted" ng-disabled="!$root.checkPermissions(projectGuid, ['admin'])"
                    style="width: 40px;">
                    </md-switch>
                </div>
                <md-button ng-if="$root.checkPermissions(projectGuid, ['admin'])" type="submit" id="submitBtn" ng-click="onSubmitProjectChanges()"
                class="md-raised md-primary detailsSectionButton">Save</md-button>

            </section>

            <div ng-if="$root.checkPermissions(projectGuid, ['admin'])" class="detailsSectionHeader">Assigned Users</div>
            <section ng-if="$root.checkPermissions(projectGuid, ['admin'])" class="detailsSectionContent">
                <div ng-repeat="projectUser in projectUsers" class="detailsSectionListItem">
                    <div layout="row" layout-align="space-between center">
                        <div layout="row" layout-align="start center">
                            <div ng-style="{ 'width': '30px', 'height': '30px', 'border-radius': '3px', 'background': 'url(' + projectUser.avatarUrl + ')',
                                        'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': 'center'}"></div>

                            <div style="margin-left: 0.5rem;">{{projectUser.username}}</div>
                        </div>
                        <i class="fa fa fa-times detailsSectionActionIcon" ng-click="onUnassignUser($index)"></i>
                    </div>
                    <div class="chipsWrapper">
                        <md-chips ng-model="projectUser.roles" md-autocomplete-snap md-require-match="true">
                            <md-autocomplete md-search-text="projectUser.roleSearchText" md-items="item in searchProjectRole(projectUser.roleSearchText)"
                            md-item-text="item.name" placeholder="Search for a role" md-no-cache="true">
                                <span md-highlight-text="projectUser.roleSearchText">{{item.roleName}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>{{$chip.roleName}}
                         </span>
                            </md-chip-template>
                        </md-chips>
                    </div>

                    <div class="chipsWrapper">
                        <md-chips ng-model="projectUser.groups" md-autocomplete-snap md-require-match="false" md-transform-chip="transformGroupChip($chip)">
                            <md-autocomplete md-search-text="projectUser.groupSearchText" md-items="item in searchProjectGroup(projectUser.groupSearchText)"
                            md-item-text="item.name" placeholder="Search for a group" md-no-cache="true">
                                <span md-highlight-text="projectUser.groupSearchText">{{item.groupName}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>{{$chip.groupName}}
                         </span>
                            </md-chip-template>
                        </md-chips>
                    </div>
                    <div layout="row" layout-align="end">
                        <md-button type="submit" id="submitBtn" ng-click="onChangeAssignedUserRolesAndGroups($index)" class="md-raised md-primary detailsSectionButton">Save</md-button>
                    </div>
                </div>
            </section>

            <div ng-if="$root.checkPermissions(projectGuid, ['admin'])" class="detailsSectionHeader">Invite a new user</div>

            <section ng-if="$root.checkPermissions(projectGuid, ['admin'])" class="detailsSectionContent">
                <md-input-container class="inputContainerWithError">
                    <label>Send to email</label>
                    <input type="email" ng-model="invitation.email" ng-change="$root.onFormElementChange('invitationRequestDto_email')">
                    <span ng-show="$root.formElementsErrors.invitationRequestDto_email" class="formItemErrorMessage" style="display: initial !important;">{{$root.formElementsErrors.invitationRequestDto_email}}</span>
                </md-input-container>

                <div class="chipsWrapper">
                    <md-chips ng-model="invitation.roles" md-autocomplete-snap md-require-match="true">
                        <md-autocomplete md-search-text="invitation.roleSearchText" md-items="item in searchProjectRole(invitation.roleSearchText)"
                        md-item-text="item.name" placeholder="Search for a role" md-no-cache="true">
                            <span md-highlight-text="invitation.roleSearchText">{{item.roleName}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>{{$chip.roleName}}
                         </span>
                        </md-chip-template>
                    </md-chips>
                </div>

                <div class="chipsWrapper">
                    <md-chips ng-model="invitation.groups" md-autocomplete-snap md-require-match="false" md-transform-chip="transformGroupChip($chip)">
                        <md-autocomplete md-search-text="invitation.groupSearchText" md-items="item in searchProjectGroup(invitation.groupSearchText)"
                        md-no-cache="true" md-item-text="item.name" placeholder="Search for a group">
                            <span md-highlight-text="invitation.groupSearchText">{{item.groupName}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>{{$chip.groupName}}
                         </span>
                        </md-chip-template>
                    </md-chips>
                </div>

                <div layout="row">
                    <div layout="row" layout-align="end" style="width: 100%;">
                        <md-button ng-if="$root.checkPermissions(projectGuid, ['admin'])" type="submit" id="submitBtn" ng-click="onSendInvitation()"
                        class="md-raised md-primary detailsSectionButton">Save</md-button>
                    </div>
                </div>
            </section>

            <div ng-if="$root.checkPermissions(projectGuid, ['admin']) && pendingInvitations.length > 0" class="detailsSectionHeader">Pending invitations</div>

            <section ng-if="$root.checkPermissions(projectGuid, ['admin']) && pendingInvitations.length > 0" class="detailsSectionContent">
                <div ng-repeat="invitation in pendingInvitations" class="detailsSectionListItem">
                    <div layout="column">
                        <div layout="row" layout-align="start center" style="margin-bottom: 0.5rem;">
                            <span flex=30>Recipient: </span>
                            <span flex=70>{{invitation.email}}</span>
                        </div>
                        <div layout="row" layout-align="start center" style="margin-bottom: 0.5rem;">
                            <span flex=30>Created by: </span>
                            <div flex=70 layout="row" layout-align="start center">
                                <div ng-style="{ 'width': '30px', 'height': '30px', 'border-radius': '3px', 'background': 'url(' + invitation.creatorAvatarUrl + ')',
                                        'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': 'center'}"></div>

                                <span style="margin-left: 0.5rem;">{{invitation.createdBy}}</span>
                            </div>
                        </div>
                        <div layout="row" layout-align="start center">
                            <span flex=30>Creation date: </span>
                            <span flex=70>{{invitation.createdAt | date:'yyyy-MM-dd'}}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div flex-gt-md=30 flex-md=20 flex-sm=5 flex-xs=5></div>
    </div>
</div>