<div style="padding-top: 2rem;" layout="column">

    <div layout="row" style="width: 100%;">
        <div flex=30 flex-md=20 flex-sm=10 flex-xs=10></div>

        <div flex=40 flex-md=60 flex-sm=80 flex-xs=80 layout="column">

            <div class="detailsSectionHeader">Project Details</div>

            <section class="detailsSectionContent">
                <md-input-container style="width: 100%;">
                    <label>Description</label>
                    <input type="text" ng-model="project.description" ng-change="$root.onFormElementChange('projectRequestDto_description')" ng-disabled="!isAdmin">
                </md-input-container>
                <div layout="row">
                    <span ng-if="$root.formElementsErrors.projectRequestDto_description" class="formItemErrorMessage">{{$root.formElementsErrors.projectRequestDto_description}}</span>
                    <div layout="row" layout-align="end" style="width: 100%;">
                        <md-button ng-if="isAdmin" type="submit" id="submitBtn" ng-click="onSubmitProjectChanges()" class="md-raised md-primary detailsSectionButton">Save</md-button>
                    </div>
                </div>
            </section>

            <div ng-if="isAdmin" class="detailsSectionHeader">Assigned Users</div>
            <section ng-if="isAdmin" class="detailsSectionContent">
                <div ng-repeat="projectUser in projectUsers" class="detailsSectionListItem">
                    <div layout="row" layout-align="space-between center">
                        <div>{{projectUser.username}}</div>
                        <i class="fa fa fa-times detailsSectionActionIcon" ng-click="onUnassignUser($index)"></i>
                    </div>
                    <tags-input ng-model="projectUser.roles" key-property="roleGuid" display-property="roleName" placeholder="Add a role">
                        <auto-complete source="getPossibleRoles($query, projectUser.roles)" min-length="0" load-on-focus="true" load-on-empty="true">
                        </auto-complete>
                    </tags-input>
                    <tags-input ng-model="projectUser.groups" key-property="groupGuid" display-property="groupName" placeholder="Add a group">
                        <auto-complete source="getPossibleGroups($query, projectUser.groups)" min-length="0" load-on-focus="true" load-on-empty="true">
                        </auto-complete>
                    </tags-input>
                    <div layout="row" layout-align="end">
                        <md-button type="submit" id="submitBtn" ng-click="onChangeAssignedUserRolesAndGroups($index)" class="md-raised md-primary detailsSectionButton">Save</md-button>
                    </div>
                </div>
            </section>


            <div ng-if="isAdmin" class="detailsSectionHeader">Invite a new user</div>

            <section ng-if="isAdmin" class="detailsSectionContent">
                <md-input-container style="width: 100%;">
                    <label>Send to email</label>
                    <input type="email" ng-model="invitation.email" ng-change="$root.onFormElementChange('projectRequestDto_description')">
                    <span ng-show="$root.formElementsErrors.invitationRequestDto_email" class="formItemErrorMessage" style="display: initial !important;">{{$root.formElementsErrors.invitationRequestDto_email}}</span>
                </md-input-container>
                
                <tags-input ng-model="invitation.roles" key-property="roleGuid" display-property="roleName" placeholder="Add a role">
                    <auto-complete source="getPossibleRoles($query, invitation.roles)" min-length="0" load-on-focus="true" load-on-empty="true">
                    </auto-complete>
                </tags-input>
                <tags-input ng-model="invitation.groups" key-property="groupGuid" display-property="groupName" placeholder="Add a group">
                    <auto-complete source="getPossibleGroups($query, invitation.groups)" min-length="0" load-on-focus="true" load-on-empty="true">
                    </auto-complete>
                </tags-input>                
                
                <div layout="row">
                    <div layout="row" layout-align="end" style="width: 100%;">
                        <md-button ng-if="isAdmin" type="submit" id="submitBtn" ng-click="onSendInvitation()" class="md-raised md-primary detailsSectionButton">Save</md-button>
                    </div>
                </div>
            </section>

            <div ng-if="isAdmin && pendingInvitations.length > 0"  class="detailsSectionHeader">Pending invitations</div>

            <section ng-if="isAdmin && pendingInvitations.length > 0" class="detailsSectionContent">
                <div ng-repeat="invitation in pendingInvitations" class="detailsSectionListItem">
                     <div layout="column">
                        <div layout="row">
                            <span flex=30>Recipient: </span>
                            <span flex=70 style="margin-bottom: 0.5rem;">{{invitation.email}}</span>
                        </div>
                        <div layout="row">
                            <span flex=30>Created by: </span>
                            <span flex=70 style="margin-bottom: 0.5rem;">{{invitation.createdBy}}</span>
                        </div>
                        <div layout="row">
                            <span flex=30>Creation date: </span>
                            <span flex=70 style="margin-bottom: 0.5rem;">{{invitation.createdAt | date:'yyyy-MM-dd'}}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div flex=30 flex-md=20 flex-sm=10 flex-xs=10></div>
    </div>
</div>