<div ng-if="$root.checkPermissions($root.currentProjectGuid, ['manager'])" style="height: 60px;" layout-align="end center" layout="row">
   <div ng-click="onAdd($event)" style="padding: 1rem; cursor: pointer; outline: none">
      <i class="fa fa-plus" style="color: black; cursor: pointer; outline: none; font-size: 15pt;"></i>
   </div>
</div>


<md-content layout="column" ng-style="$root.checkPermissions($root.currentProjectGuid, ['manager']) && {'height':'calc(100% - 60px)'} || {'height':'100%'}">
    <div style="width: 100%; border-bottom: 1px solid #ddd;"></div>
    <span ng-if="!entries.numItems" style="padding: 2rem;">No entries to display</span>    
    <md-virtual-repeat-container id="vertical-container" style="border-bottom: 0px solid #ddd;" md-top-index="tasksListTopIndex">
        <div md-virtual-repeat="item in entries" md-on-demand flex layout="column" ios-dblclick="onEdit($index)" style="outline: none;">

            <div layout="row" style="width: 100%;">
                <div style="width: 5px;" ng-style="{'background-color': item.deficiencyDetails.entryStatusBackgroundColor}"></div>
                <div flex=30 layout="column" class="entriesListItem" style="padding-left: 1rem; padding-right: 1rem; padding-top:0.2rem; padding-bottom:0.2rem; outline: none; width: 100%;"
                layout-align="start start">
                    <div>Type:</div>
                    <div>Groups:</div>
                    <div ng-if="item.entryTypeGuid === '1'">Status:</div>
                    <div ng-if="item.entryTypeGuid === '2'">Blablabla</div>
                    <div>Description:</div>

                </div>

                <div flex=70 layout="column" class="entriesListItem" style="padding-left: 1rem; padding-right: 1rem; padding-top:0.2rem; padding-bottom:0.2rem; outline: none; width: 100%;"
                layout-align="start start">
                    <div>{{item.entryTypeName}}</div>
                    <div layout="row" style="min-height: 18px;  ">
                        <div class="tag-in-display-mode" ng-repeat="group in item.groups">{{group.groupName}}</div>
                    </div>
                    <div ng-if="item.entryTypeGuid === '1'">{{item.deficiencyDetails.entryStatusName}}</div>
                    <div ng-if="item.entryTypeGuid === '2'">{{item.dailyReportDetails.statusInfo}}</div>
                    <div>{{item.description}}</div>
                </div>
            </div>
        </div>
    </md-virtual-repeat-container>
    
</md-content>