<div style="height: 60px;" layout-align="end center" layout="row">

	<md-input-container flex  style="margin-left: 1rem; margin-top: 1rem;">
	  <label>Search</label>
      <input type="text" id="search" ng-model="searchCriteria" style="width: 20%; min-width: 150px;" ng-keypress="onKeyPress($event)" >
	</md-input-container>  

	<md-button class="md-raised md-primary" ng-click="onSettings($event)">{{'settings' | translate}}</md-button>

	<md-button class="md-raised md-primary" ng-click="onAdd($event)">{{'add' | translate}}</md-button>
</div>

<div layout="row" layout-align="start center" style="padding-left: 1rem; padding-right: 1rem; padding-top:0.2rem; padding-bottom:0.2rem; font-weight: bold; height: 25px; border-left: 5px solid white;">
	<div flex=10 style="min-width: 100px;">Project</div>
	<div flex=10 style="min-width: 100px;">Type</div>
<!-- 	<div flex=10>Status</div> -->
	<div flex=10 style="min-width: 100px;">Created</div>
	<div flex=65>Description</div>
</div>

<md-content layout="column" style="height: calc(100% - 85px);">
	<div style="width: 100%; border-bottom: 1px solid #ddd;"></div>
    <md-virtual-repeat-container id="vertical-container" style="border-bottom: 0px solid #ddd"; md-auto-shrink>
      <div md-virtual-repeat="item in entries" md-on-demand
          class="repeated-item" flex style="padding-left: 1rem; padding-right: 1rem; padding-top:0.2rem; padding-bottom:0.2rem;" layout="column" ng-class="{'3. Done': 'doneTaskEntry', '2. In Progress': 'inProgressTaskEntry', '1. Open': 'openTaskEntry'}[item.status]">
			<div layout="row" layout-align="start start">
				<div flex=10 style="min-width: 100px;">{{item.project}}</div>
				<div flex=10 style="min-width: 100px;">{{item.type}}</div>
<!-- 				<div flex=10>{{item.status}}</div> -->
				<div flex=10 style="min-width: 100px;">{{item.createdAt | date:'yyyy-MM-dd'}}</div>
				<div flex=60 style="text-align: justify; word-break: break-all;">{{item.description}}</div>

				<div layout="raw" flex=10 style="margin-top: -10px; min-width: 100px;">
				   <md-button class="md-icon-button launch" style="height: 35px; line-height: 35px; width: 35px; min-height: 35px; margin-left:30px;" ng-click="onEdit($event, $index)" aria-label="Edit" md-no-ink>
				   	  <i class="fa fa-pencil-square-o" style="font-size: 15pt;"></i>
				   </md-button>	

				   <md-button class="md-icon-button launch" style="height: 35px; line-height: 35px; width: 35px; min-height: 35px;" ng-click="onDelete($index)" aria-label="Delete" md-no-ink>
				   	  <i class="fa fa-times" style="font-size: 15pt;"></i>
				   </md-button>			   		   
				</div>				
			</div>
      </div>
    </md-virtual-repeat-container>







<!-- FOR MOBILE: -->
<!-- <md-content layout="column" style="height: 90%;">
	<div style="width: 100%; border-bottom: 1px solid #ddd;"></div>
    <md-virtual-repeat-container id="vertical-container" style="border-bottom: 0px solid #ddd"; md-auto-shrink>
      <div md-virtual-repeat="item in entries" md-on-demand
          class="repeated-item" flex style="padding-left: 1rem; padding-right: 1rem; padding-top:0.2rem; padding-bottom:0.2rem;" layout="column" ng-class="{'3. Done': 'doneTaskEntry', '2. In Progress': 'inProgressTaskEntry', '1. Open': 'openTaskEntry'}[item.status]">
          	<div layout="row">
				<div layout="column" flex=30>
					<div layout="row">
						<div style="font-weight: bold; margin-bottom: 0.3rem;" flex=40>Project:
						</div>
						<div flex=60>{{item.project}}</div>
					</div>			
					<div layout="row">
						<div style="font-weight: bold; margin-bottom: 0.3rem;" flex=40>Type:
						</div>
						<div flex=60>{{item.type}}</div>
					</div>

					<div layout="row">
						<div style="font-weight: bold; margin-bottom: 0.3rem;" flex=40>Status:
						</div>
						<div flex=60>{{item.status}}</div>
					</div>

					<div layout="row">
						<div style="font-weight: bold; margin-bottom: 0.3rem;" flex=40>Created:
						</div>
						<div flex=60>{{item.createdAt | date:'yyyy-MM-dd'}}</div>
					</div>

					<div layout="raw" style="margin-top:0.5rem; margin-left: -0.8rem;">
					   <md-button class="md-icon-button launch" style="height: 35px; line-height: 35px; width: 35px; min-height: 35px;" ng-click="onEdit($event, $index)">
					   	  <i class="fa fa-pencil-square-o" style="font-size: 15pt;"></i>
					   </md-button>	

					   <md-button class="md-icon-button launch" style="height: 35px; line-height: 35px; width: 35px; min-height: 35px;" ng-click="onDelete($index)">
					   	  <i class="fa fa-times" style="font-size: 15pt;"></i>
					   </md-button>			   		   
					</div>				
				</div>

				<div flex=70 style="padding-right: 2rem;">
					{{item.description}}
				</div>
			</div>	
		</div>
      </div>
    </md-virtual-repeat-container>
</md-content> -->


